.intro-section {
  width: 100%;
  display: flex;
  margin-left: 15rem;
  flex-direction: column;
  align-items: flex-start;
}
.para {
  width: 40%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  // margin-left: auto;
  // margin-right: auto;
  border: 0.05rem solid burlywood;
}
